{% extends 'base.html' %}

{% block content %}

<div class="page-card">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>
            <h2>👥 Customers</h2>
            <p class="text-muted">Manage all registered customers</p>
        </div>

        <span class="badge bg-primary">
            Total : {{ customers|length }}
        </span>

    </div>

    <form method="GET" class="mb-4">

        <div class="input-group">

            <input
                type="text"
                name="q"
                class="form-control form-control-lg"
                placeholder="🔍 Search Customer"
                value="{{ request.GET.q }}">

            <button class="btn btn-primary">
                Search
            </button>

        </div>

    </form>

    <div class="table-responsive">

        <table class="table table-hover align-middle">

            <thead class="table-dark">

                <tr>

                    <th>Customer</th>
                    <th>Code</th>
                    <th>Phone</th>
                   
                </tr>

            </thead>

            <tbody>

            {% for customer in customers %}

                <tr>

                    <td>

                        <div class="d-flex align-items-center">

                            <img
                            src="https://ui-avatars.com/api/?name={{ customer.name }}&background=2563eb&color=fff"
                            width="45"
                            height="45"
                            class="rounded-circle me-3">

                            <strong>{{ customer.name }}</strong>

                        </div>

                    </td>

                    <td>{{ customer.customer_code }}</td>

                    <td>📞 {{ customer.phone }}</td>

                    
                </tr>

            {% empty %}

                <tr>

                    <td colspan="4" class="text-center">

                        No customers found.

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}